Repository Kumoh-talk/kumoh-talk-Backend, pull requests merged in 2025-02, with the labels that each got.

#120 CustomOAuth2UserService 테스트 코드 작성
  src/test/java/com/example/demo/global/oauth/service/CustomOAuth2UserServiceTest.java
Labels: ✅ Test

#121 UserController 통합 테스트 코드 작성
  src/main/java/com/example/demo/global/jwt/JwtUserClaim.java
  src/test/java/com/example/demo/domain/user/api/controller/UserControllerIntegrationTest.java
  src/test/java/com/example/demo/domain/user/api/controller/UserControllerTest.java
  src/test/java/com/example/demo/fixture/user/UserFixtures.java
  src/test/resources/application-test.yml
Labels: ✅ Test

#117 알림 기능 개발
  .github/workflows/cicd-gradle-build.yml
  build.gradle
  src/main/java/com/example/demo/domain/board/Repository/BoardRepository.java
  src/main/java/com/example/demo/domain/board/domain/entity/Like.java
  src/main/java/com/example/demo/domain/board/domain/entity/LikeEntityListener.java
  src/main/java/com/example/demo/domain/board/service/service/LikeNotificationService.java
  src/main/java/com/example/demo/domain/board/service/service/LikeService.java
  src/main/java/com/example/demo/domain/comment/controller/AdminCommentController.java
  src/main/java/com/example/demo/domain/comment/controller/BoardCommentController.java
  src/main/java/com/example/demo/domain/comment/controller/FakeLoginController.java
  src/main/java/com/example/demo/domain/comment/controller/RecruitmentBoardCommentController.java
  src/main/java/com/example/demo/domain/comment/domain/entity/BoardComment.java
  src/main/java/com/example/demo/domain/comment/domain/entity/CommentEntityListener.java
  src/main/java/com/example/demo/domain/comment/domain/entity/RecruitmentBoardComment.java
  src/main/java/com/example/demo/domain/comment/repository/BoardCommentRepository.java
  src/main/java/com/example/demo/domain/comment/repository/CommonCommentRepository.java
  src/main/java/com/example/demo/domain/comment/repository/RecruitmentBoardCommentRepository.java
  src/main/java/com/example/demo/domain/comment/service/AbstractCommentService.java
  src/main/java/com/example/demo/domain/comment/service/BoardCommentService.java
  src/main/java/com/example/demo/domain/comment/service/CommentNotificationService.java
  src/main/java/com/example/demo/domain/comment/service/RecruitmentBoardCommentService.java
  src/main/java/com/example/demo/domain/fake/FakeAuthApi.java
  src/main/java/com/example/demo/domain/fake/FakeAuthController.java
  src/main/java/com/example/demo/domain/notification/controller/NotificationController.java
  src/main/java/com/example/demo/domain/notification/controller/swagger/NotificationApi.java
  src/main/java/com/example/demo/domain/notification/domain/dto/response/NotificationNoOffsetResponse.java
  src/main/java/com/example/demo/domain/notification/domain/dto/response/NotificationResponse.java
  src/main/java/com/example/demo/domain/notification/domain/entity/Notification.java
  src/main/java/com/example/demo/domain/notification/domain/entity/NotificationUser.java
  src/main/java/com/example/demo/domain/notification/repository/NotificationRepository.java
  src/main/java/com/example/demo/domain/notification/repository/NotificationUserRepository.java
  src/main/java/com/example/demo/domain/notification/scheduler/NotificationScheduler.java
  src/main/java/com/example/demo/domain/notification/service/NotificationService.java
  src/main/java/com/example/demo/domain/recruitment_board/domain/entity/RecruitmentBoard.java
  src/main/java/com/example/demo/domain/recruitment_board/repository/CommonBoardRepository.java
  src/main/java/com/example/demo/domain/recruitment_board/repository/RecruitmentBoardRepository.java
  src/main/java/com/example/demo/domain/user/domain/User.java
  src/main/java/com/example/demo/global/base/exception/ErrorCode.java
  src/test/java/com/example/demo/builder/BuilderSupporter.java
  src/test/java/com/example/demo/builder/TestFixtureBuilder.java
  src/test/java/com/example/demo/domain/board/event/LikeEntityListenerTest.java
  src/test/java/com/example/demo/domain/board/service/LikeNotificationServiceTest.java
  src/test/java/com/example/demo/domain/comment/TransactionalTask.java
  src/test/java/com/example/demo/domain/comment/event/CommentEntityListenerTest.java
  src/test/java/com/example/demo/domain/comment/service/CommentNotificationServiceTest.java
  src/test/java/com/example/demo/fixture/board/LikeFixtures.java
  src/test/java/com/example/demo/fixture/comment/CommentFixtures.java
  src/test/java/com/example/demo/fixture/notification/NotificationFixtures.java
  src/test/java/com/example/demo/fixture/notification/NotificationUserFixtures.java
  src/test/java/com/example/demo/fixture/recruitment_board/RecruitmentBoardFixtures.java
  src/test/java/com/example/demo/fixture/user/UserFixtures.java
Labels: 🚀 Enhancement, ♻️ Refactor, 🙏 CI/CD

#122 모집 게시물 리스트 API 리팩토링
  src/main/java/com/example/demo/domain/recruitment_board/domain/dto/response/RecruitmentBoardNoOffsetResponse.java
  src/main/java/com/example/demo/domain/recruitment_board/domain/dto/response/RecruitmentBoardPageNumResponse.java
  src/main/java/com/example/demo/domain/recruitment_board/repository/QueryDslRecruitmentBoardRepository.java
  src/main/java/com/example/demo/domain/recruitment_board/repository/QueryDslRecruitmentBoardRepositoryImpl.java
  src/main/java/com/example/demo/domain/recruitment_board/service/RecruitmentBoardService.java
Labels: ♻️ Refactor

#123 test: OAuth2AuthenticationSuccessHandler 로그인 관련 테스트 코드 작성
  src/test/java/com/example/demo/global/oauth/handler/OAuth2AuthenticationSuccessHandlerTest.java
Labels: ✅ Test

#125 Newsletter 패키지 구조 리팩터링
  src/main/java/com/example/demo/application/newsletter/api/NewsletterAdminApi.java
  src/main/java/com/example/demo/application/newsletter/api/NewsletterApi.java
  src/main/java/com/example/demo/application/newsletter/controller/NewsletterAdminController.java
  src/main/java/com/example/demo/application/newsletter/controller/NewsletterController.java
  src/main/java/com/example/demo/application/newsletter/dto/request/EmailNoticeRequest.java
  src/main/java/com/example/demo/application/newsletter/dto/request/NewsletterSubscribeRequest.java
  src/main/java/com/example/demo/application/newsletter/dto/request/NewsletterUpdateEmailRequest.java
  src/main/java/com/example/demo/application/newsletter/dto/request/NewsletterUpdateNotifyRequest.java
  src/main/java/com/example/demo/application/newsletter/dto/response/NewsletterInfo.java
  src/main/java/com/example/demo/application/newsletter/dto/response/SeminarNoticeBasicForm.java
  src/main/java/com/example/demo/domain/newsletter/domain/dto/response/SeminarNoticeBasicForm.java
  src/main/java/com/example/demo/domain/newsletter/entity/NewsletterSubscription.java
  src/main/java/com/example/demo/domain/newsletter/entity/SeminarNoticeContent.java
  src/main/java/com/example/demo/domain/newsletter/event/NewsletterEventListener.java
  src/main/java/com/example/demo/domain/newsletter/event/NewsletterEventPublisher.java
  src/main/java/com/example/demo/domain/newsletter/implement/NewsletterHandler.java
  src/main/java/com/example/demo/domain/newsletter/repository/NewsletterRepository.java
  src/main/java/com/example/demo/domain/newsletter/service/NewsletterAdminService.java
  src/main/java/com/example/demo/domain/newsletter/service/NewsletterService.java
  src/main/java/com/example/demo/infra/newsletter/entity/Newsletter.java
  src/main/java/com/example/demo/infra/newsletter/repository/NewsletterJpaRepository.java
  src/main/java/com/example/demo/infra/newsletter/repository/NewsletterRepositoryImpl.java
Labels: ♻️ Refactor
